---
import Section from "../layouts/Section.astro";
import Card from "../components/ListItem.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("recipes")).sort(
  (a, b) => Date.parse(b.data.date) - Date.parse(a.data.date)
);

---

<Section title="Recipes" description="Hell Yeah">
	<div class="flex flex-col gap-12">
		{
			posts.map(({ data: { date, title, description }, slug }) => (
				<Card title={title} description={description} date={date} href={`/recipes/${slug}`} />
			))
		}
	</div>
</Section>