---
const { label, onClick } = Astro.props;
---

<button onclick={onClick} class=" text-xl font-light px-4 py-2 hover:bg-gray-200 dark:hover:bg-[#232323] rounded-md transition duration-100 ease-in-out">
    {label}
</button>