---
import { Icon } from 'astro-icon/components';
---
<div>
	<header class='relative flex items-center h-12 p-8 font-bold'>
		<a class='text-lg mr-auto' href='/'>Home</a>
		<div class="flex flex-row gap-6 font-medium">
			<a href="/">Proteins</a>
			<a href="/">Carbs</a>
			<a href="/">Veggies</a>
			<Icon class="cursor-pointer" name="material-symbols:dark-mode" size={24} />
			<Icon class="cursor-pointer" name="material-symbols:search" size={24} />
		</div>
	</header>
	<div class="border-t border-gray-300 mx-6"></div>
</div>
</div>

