---
import { Icon } from 'astro-icon/components';
import NavBtn from './NavBtn.astro';
---
<header class='relative flex items-center h-12 p-8 font-bold'>
	<a class='text-lg mr-auto m-2' href='/'>Recipes</a>
	<div class="flex flex-row gap-4 items-center font-medium">
		<div class="flex flex-row gap-6 m-2">
			<Icon class="cursor-pointer" name="material-symbols:dark-mode" size={24} />
			<Icon class="cursor-pointer" name="material-symbols:search" size={24} />
			<Icon class="cursor-pointer md:hidden" name="material-symbols:menu-rounded" size={24} />
		</div>
	</div>
</header>

