---
import { Icon } from 'astro-icon/components';
import Search from './Search.astro';
import DarkModeToggle from './DarkModeToggle.astro';
---
<header class='relative flex justify-between items-center h-12 w-full p-8 max-md:pl-5 font-bold z-10'>
    <a class='max-md:hidden text-lg' href='/'>Recipes</a>
    <a class="md:hidden" href="/"><Icon name="material-symbols:dining-rounded" size={36} /></a>
    <div class="flex flex-row gap-5 max-md:gap-3 items-center font-medium">
        {/*<Search /> Implement Later */}
        <DarkModeToggle />
    </div>
</header>

