---
import { Icon } from 'astro-icon/components';
---
<header class='relative flex items-center h-12 p-8 font-semibold'>
	<a class='text-lg mr-auto' href='/'>Home</a>
	<div class="flex flex-row gap-2">

		<Icon class="cursor-pointer" name="material-symbols:dark-mode" size={24} />
		<Icon class="cursor-pointer" name="material-symbols:search" size={24} />
	</div>
</header>
