---
import { Icon } from 'astro-icon/components';
---

<div class="relative text-lg bg-transparent text-gray-800">
  <div class="flex items-center border-b border-b-1 border-gray-200 py-2">
	<input class="bg-transparent border-none mr-8 px-2 leading-tight focus:outline-none" type="text" placeholder="Search">
    <button type="submit" class="absolute top-1/2 right-2 transform -translate-y-1/2">
      <Icon class="cursor-pointer" name="material-symbols:search" size={24} />
    </button>
  </div>
</div>