---
import { Icon } from 'astro-icon/components';

---

<div class="relative text-lg bg-transparent text-gray-800 dark:text-white">
  <form class="flex items-center border-b border-b-1 border-gray-200 py-2">
    <input class="bg-transparent border-none mr-8 px-2 leading-tight focus:outline-none" type="text" placeholder="Search">
    <button type="submit" class="absolute top-1/2 right-2 transform -translate-y-1/2">
      <Icon class="cursor-pointer dark:text-white" name="material-symbols:search" size={24} />
    </button>
  </form>
</div>
<script>
  const form: any = document.getElementById('search-form');
  const searchInput: any = document.getElementById('search-input');

  form.addEventListener('submit', (event: any) => {
    event.preventDefault();
    const searchQuery = searchInput.value.trim();

    if (searchQuery) {
      const url = new URL(window.location.href);
      url.pathname += `/${searchQuery}`;
      window.location.href = url.toString();
    }

    searchInput.value = '';
  });
</script>